#top{
	background-color: #4A374A;
	height: 100px;
	font-size: 70px;
	font-style: italic;
	padding-left: 40px;
	color: white;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.nav{
	height: 50px;
	background-color: rgb(243, 233, 233);
	margin-top:-16px;
}
.nav .nav-c{
	height: 50px;
}
.nav .nav-c li{
	float: left;
	height: 50px;
	font:normal normal 18px/50px "微软雅黑";
	margin-right: 25px;
}
.nav .nav-c li a{
	color: #666;
}
.nav .nav-c li a:hover {
    color:red;
}
.mess{
	font-size: 30px;
	padding: 5px;
	text-align: center;
	background-color: azure;
	border: 1px solid rgb(163, 159, 159);
	background-color: rgb(228, 210, 228);
	color: rgb(173, 165, 165);
	border-top: none;
}
.tab{
	border: 1px solid rgb(216, 208, 208);
	width: 100%;
	border-collapse:collapse ;
}
td{
	border: 1px solid rgb(163, 159, 159);
	text-align: center;
	height: 50px;
}
th{
	border: 1px solid rgb(216, 208, 208);
	height: 45px;
	background-color: rgb(167, 157, 167);
}
.odd{
	background-color: rgb(185, 171, 185);
}
.even{
	background-color: rgb(218, 205, 218);
}
