body{
	margin: 0px;
}

#top{
	background-color:#6a98b0;
	height: 100px;
	font-size: 70px;
	padding-left: 40px;
	color: white;
	margin: 0;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
	color:#1b1b1a;
}
.nav{
	height: 50px;
	background-color:#dbd6d0;
	margin-top:-16px;
	margin-left: -8px;
}
.nav .nav-c{
	height: 50px;
}
.nav .nav-c li{
	float: left;
	height: 50px;
	font:normal normal 18px/50px "MingLiU_HKSCS-ExtB";
	margin-right: 25px;
}
.nav .nav-c li a{
	color: #666;
}
.nav .nav-c li a:hover {
    color:red;
}
.mess{
	font-size: 30px;
	padding: 5px;
	text-align: center;
	background-color: azure;
	border: 1px solid rgb(163, 159, 159);
	background-color: rgb(228, 210, 228);
	color: rgb(173, 165, 165);
	border-top: none;
}
.tab{
	border: 1px solid rgb(216, 208, 208);
	width: 100%;
	border-collapse:collapse ;
}
td{
	border: 1px solid rgb(163, 159, 159);
	text-align: center;
	height: 50px;
}
th{
	border: 1px solid rgb(216, 208, 208);
	height: 45px;
	background-color: #769eb6;
}
.odd{
	background-color: #a9bac1;
}
.even{
	background-color: #869fab;
}