html{   
    width: 100%;   
    height: 100%;   
    overflow: hidden;   
    font-style: sans-serif;
    background-image: url(../img/b_img.jpeg);
    background-repeat:no-repeat;
	background-size: 100% 100%;     
} 
h1{
    color: #fff;
    text-align: center;
}
input{  
    margin-left: 25px;
    width: 278px;   
    height: 17px;   
    margin-bottom: 10px;     
    padding: 10px;   
    font-size: 13px;   
    color: #aaa;   
    text-shadow:1px 1px 1px;   
    border-color: azure; 
    border-radius: 4px;   
    background-color: #fff;
    border: none;
    opacity:0.8;   
}  
.but{   
    width: 100px;
    height: 38px;  
    margin-bottom: 10px;     
    padding: 10px;   
    font-size: 13px;   
    color: #fff;   
    text-shadow:1px 1px 1px;   
    border-color: azure; 
    border-radius: 4px;   
    background-color: #fff;
    margin-left: 25px;
    border: none;
    opacity:0.8; 
}  
#query{
    color: rgb(152, 154, 156);
}

table{
    margin-top: 20px;
    border-collapse:collapse ;
    width: 50%;
}

.table-center{
    margin: 0 auto;
    left: 25%;
}
.myth{
    color: black;
	border: 1px solid rgb(102, 99, 99);
    height: 45px;
    background-color: #fff;
    opacity:0.8; 
}