body
{
	height: 696px;
	background-image: url(../img/b_img.jpeg);
    background-repeat:no-repeat;
	background-size: 100% 100%;
	color: rgb(216, 208, 208);
}

#mess{
	color: black;
}

.myth{
    height: 35px;
	border: 1px solid rgb(216, 208, 208);
	background-color: rgb(241, 240, 235);
	color: black;
}

table{
	border: 1px solid rgb(216, 208, 208);
	width: 40%;
    border-collapse:collapse ;
	margin-left: 30%;
	/* color: rgb(216, 208, 208); */
    
}
td{
	border: 1px solid rgb(216, 208, 208);
	text-align: center;
	/* color: rgb(216, 208, 208); */
	height: 50px;
}
th{
    height: 35px;
    border: 1px solid rgb(216, 208, 208);
}
.center{
    text-align: center;
}
a{
	text-decoration: none;
}